/* button color #596D48
input borders #E5E7EB

 other variation is the selected input, which should have a blue border
 and subtle box-shadow. This can be done with the :focus pseudo-class
 you’ve learned about in an earlier lesson.

 Checking that the password fields match each other requires javascript.
 Try to implement this if you feel confident, otherwise just validate
 each field separately. */

 @font-face {
    font-family: norseBold;
    src: url(./fonts/Norse-Bold.otf);
}

* {
    font-size: 24px;
}

.odin-bold {
    font-family: norseBold;
    font-size: 15rem;
}

.odin-logo {
    height:
}

body {
    display: flex;
}

.left {
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    width: 40vw;
}

.right {
    width: 60vw;
}

.left-top {
    display: flex;
    justify-content: center;
}

.left-top > div {
    color: white;
}

.left-bottom {
    color: white;
    display: flex;
    justify-content: center;
}

.middle-form {
    display: flex;
}

.form-left,
.form-right {
    display: flex;
    flex-direction: column;
}
